.footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    
    list-style-type: none;
}
.footer-wrapper__navigation {
    display:flex;
    border-bottom: 3px white solid;
    justify-content: space-between;
    padding: 20px 100px;
}
.other-information {
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
}
.footer .footer__logo {
    width: 195px;
    height: 50px;
    flex:1;

  
}
.footer .footer__navigation {
    display: flex;
    flex: 2;
  justify-content: flex-start;
    font-weight: 100;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
    
}

    

.footer .social {
   
 background-color: black;
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
}
.footer .social .social__type {
    display: flex;
    gap: 20px;
 
    list-style-type: none;
}




