.picture-explore {
 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: black;
   flex-wrap: wrap;


}
.picture-explore .explore__title {

    font-size: 66px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: contents;
    flex-direction: column;
   
}
.picture-explore .pictureexplore__text {
  
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
}
.picture-explore .pictureexplore__text .article__first {
    margin-bottom: 25px;
}
.picture-explore .pictureexplore__text .article__second {
    margin-bottom: 25px;
}
