.amount {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 175px;
   
    align-items: flex-end;
}
.amount .amount__counter {
    display: flex;
    gap: 15px;
    flex-direction: column;
    width: 80%;
    margin-top: 10px;
 
}
.amount .amount__counter .amount__title {
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    margin: 0px;
}
.amount .amount__counter .amount__controls {
    display: flex;
    justify-content: space-between;
    border: 3px black solid;
    align-items: center;
}
.amount .amount__buy-btn {
    height: 50px;
    color: white;
    background-color: black;
    border: none;
    width: 100%;
}
.amount .amount__price {
    
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 1.65px;
    margin-top: 50px;
    margin-bottom: 60px;
}  
.amount__controls .amount__btn {
    background-color:inherit ;
    border:none;
    font-size: 32px;
    line-height: 37px;
}
  .amount__controls .amount__number {
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
  }
.amount .amount__title {
 font-weight: bold;
font-size: 28px;
line-height: 33px;
margin: 0;
}  
