.header__logo {
    position: absolute;
    background-color: black;
    display: flex;
 }

    


.wrapper {
    position: right;
    background-color: black;
    display:flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}
.header__navigation {
    display: flex;
    font-size:16px;
    line-height: 23px;
    }
.navigation__item {
    display:flex
   
      
    
}
.navigation__link {
    color:white;
    text-decoration: none;
    
    
    


}
